body{
    background-color: rgb(31, 30, 37);

    color: cornsilk;
}

.jumbotron{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #117a8b;
    border-radius: .3rem;
    color: cornsilk;
}

.btn-novo-usuario {
    margin-bottom: 1rem;
}


.acoes{
    display: inline;
    padding: 6px 9px;

}

.fundo-form{
   background-color: #454d55;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius:  10px;

}

.body-cadastro{

}